#unity-container {
	display: flex;
	flex-direction: column;
	background-color: black;
}

#unity-canvas {
	margin: 0 auto;
	background: #231f20;
}

#unity-loading-bar {
	display: none;
}

#unity-logo {
	width: 154px;
	height: 130px;
	background: url('./assets/unity-logo-dark.png') no-repeat center;
}

#unity-progress-bar-empty {
	width: 141px;
	height: 18px;
	margin-top: 10px;
	background: url('./assets/progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
	width: 0%;
	height: 18px;
	margin-top: 10px;
	background: url('./assets/progress-bar-full-dark.png') no-repeat center;
}

#unity-footer {
	position: relative;
	background-color: white;
}

#unity-fullscreen-button {
	cursor: pointer;
	width: 38px;
	height: 38px;
	background: url('./assets/fullscreen-button.png') no-repeat center;
}

#unity-warning {
	background: white;
	padding: 10px;
	display: none;
}
